body{
	background: #DC2424; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DC2424 , #4A569D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #DC2424 , #4A569D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	user-select: none;
	cursor: default;
}
html{
	width: 100%;
	height: 100%;
}
div{
	max-width: 600px;
}
#message{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 100%;
	text-align: center;
	display: none;
	margin: 50% auto;
}
